{{ define "main" }}
  <article class="prose prose-lg">
    <!-- Certification Image (if available) -->
    {{ if .Params.image }}
      <div class="w-full h-64 mb-4 mx-auto">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="mx-auto object-contain w-auto h-full">
      </div>
    {{ end }}
    <!-- Proof link (if available) -->
    {{ if .Params.proof_url }}
      <div class="flex justify-center">
        <a href="{{ .Params.proof_url }}" class="text-blue-600 hover:text-blue-800" target="_blank">View Certificate</a>
      </div>
    {{ end }}
    <h1 class="text-3xl font-bold">{{ .Title }}</h1>

    <!-- Display the issuer if it exists -->
    {{ if .Params.issuer }}
        <p class="text-gray-700">Issued by: <strong>{{ .Params.issuer }}</strong></p>
    {{ end }}

    <!-- Certification Description -->
    {{ .Content }}
  </article>
{{ end }}