{{ define "main" }}
    <h1 class="text-3xl font-bold mb-4">{{ .Title }}</h1>
    <article class="prose prose-lg max-w-none">
        {{ .Content }}
    </article>
<div class="mt-8">
<!-- Loop through each service section and sort by weight -->
  {{ range sort .Sections "Weight" }}
    {{ if .Params.enable }}
        <div class="mb-12"> <!-- Section Container -->
        <h2 class="text-2xl font-semibold">{{ .Title }}</h2>
        <article class="prose prose-lg max-w-none">
            {{ .Content }}
        </article>

        <!-- Services Grid -->
        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range .Pages }}
                {{ if .Params.enable }}
                <div class="border rounded-lg shadow-lg overflow-hidden flex flex-col justify-between">
                    <a href="{{ .Permalink }}" class="block">
                        <!-- Service Image -->
                        {{ if .Params.image }}
                        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-full h-48 object-cover {{ if and (.Params.image_pos) (ne .Params.image_pos "auto") }}{{ .Params.image_pos }}{{ end }}">
                        {{ else }}
                        <div class="w-full h-48 bg-gray-300 flex items-center justify-center">
                            <span class="text-gray-500">No Image Available</span>
                        </div>
                        {{ end }}

                        <!-- Service Title -->
                        <div class="flex-grow p-4 text-center">
                            <h2 class="text-lg font-semibold">{{ .Title }}</h2>
                        </div>
                    </a>
                </div>
                {{ end }}
            {{ end }}
        </div>
        </div> <!-- End Section Container -->
    {{ end }}
  {{ end }}
</div>
  

{{ end }}