{{ define "main" }}
  <article class="prose prose-lg">

    <!-- Service Image -->
    {{ if .Params.image }}
      <img src="{{ .Params.image }}" alt="{{ .Title }}" class="mb-4 w-full h-64 object-cover {{ with .Params.image_pos }}{{ . }}{{ end }}">
    {{ end }}
    <h1 class="text-3xl font-bold">{{ .Title }}</h1> 

    <!-- Main Content -->
    <div class="mt-4">
      {{ .Content }}
    </div>
    
    <!-- Service Info -->
    <p class="text-gray-700">Standard Rates: <strong>{{ .Params.price }}</strong></p>

  </article>
{{ end }}