{{ define "main" }}
    <article class="mx-auto prose prose-lg max-w-4xl">
        <h1 class="text-3xl font-bold mb-8 text-center {{ .Site.Data.theme.colors.headingText }}">{{ .Title }}</h1>
        {{ .Content }}

        {{ $enabledPages := where .Pages ".Params.enable" true }}
        {{ $cardCount := len $enabledPages }}

        <div class="not-prose grid gap-8 mt-12 {{ if eq $cardCount 1 }}justify-center{{ else if gt $cardCount 1 }}md:grid-cols-2{{ end }}">
            {{ range $enabledPages }}
                <div class="group w-full {{ if eq $cardCount 1 }}min-w-[20rem] sm:w-[24rem] md:w-[26rem]{{ else }}min-w-0{{ end }} group relative {{ .Site.Data.theme.colors.cardBG }} border rounded-xl overflow-hidden {{ .Site.Data.theme.colors.cardHoverBG }} {{ .Site.Data.theme.colors.cardGroupHoverText }}">
                    <a href="{{ .Permalink }}" class="h-full flex flex-col">
                        {{ if .Params.image }}
                        <div class=" {{ .Site.Data.theme.colors.cardGroupHoverText }} flex-1 max-h-64 overflow-hidden">
                            <img
                                src="{{ .Params.image }}"
                                alt="{{ .Title }}"
                                class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-[1.02] {{ with .Params.image_pos }}{{ . }}{{ end }}"
                                loading="lazy"
                            >
                        </div>
                        {{ else }}
                        <div class=" {{ .Site.Data.theme.colors.cardGroupHoverText }} flex-1 max-h-64 flex items-center justify-center p-4 {{ .Site.Data.theme.colors.cardHeadingText }}">
                            {{/* SVG Selection */}}
                            {{ $svg := .Params.svg | default "coaching" }}
                            {{ partial (printf "svgs/%s.html" $svg) . }}
                        </div>
                        {{ end }}

                        <div class="p-2 flex-0">
                            <h2 class=" {{ .Site.Data.theme.colors.cardGroupHoverText }} text-center text-xl font-bold {{ .Site.Data.theme.colors.cardHeadingText }} mb-3">{{ .Title }}</h2>
                            {{ if .Description }}
                            <p class=" {{ .Site.Data.theme.colors.cardGroupHoverText }} {{ .Site.Data.theme.colors.cardText }} italic text-center mb-4">{{ .Description }}</p>
                            {{ end }}
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </article>
{{ end }}
