{{ define "main" }}
    <article class="mx-auto prose prose-lg">
        <h1 class="text-3xl font-bold mb-4 text-center">{{ .Title }}</h1>
        {{ .Content }}

        {{ range .Pages }}
            {{ if .Params.enable }}
            <div class="mx-auto border shadow-lg rounded-lg justify-between">
                <a href="{{ .Permalink }}" class="block">
                    {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-full h-96 object-cover {{ if and (.Params.image_pos) (ne .Params.image_pos "auto") }} {{ .Params.image_pos }} {{ end }}">
                    {{ end }}
                    <h2 class="text-lg font-semibold text-center">{{ .Title }}</h2>
                </a>
            </div>
            {{ end }}
        {{ end }}
    </article>
{{ end }}
