{{ define "main" }}
<article class="mx-auto prose prose-lg">
    <h1 class="{{ .Site.Data.theme.colors.headingText }} text-3xl font-bold mb-4 text-center">{{ .Title }}</h1>
    {{ .Content }}

    {{ $categoryWeights := .Params.category_weights }}
    {{ $categories := slice }}

    {{ range .Pages }}
        {{ if .Params.enable }}
            {{ $categories = $categories | append .Params.category }}
        {{ end }}
    {{ end }}
    {{ $categories = $categories | uniq }}

    <!-- Sort categories based on defined weights -->
    {{ $categoryData := slice }}
    {{ range $categories }}
      {{ $weight := index $categoryWeights . | default 999 }} <!-- default fallback if no weight defined -->
      {{ $categoryData = $categoryData | append (dict "name" . "weight" $weight) }}
    {{ end }}

    {{ $sortedCategoryData := sort $categoryData "weight" "asc" }}

    <div class="mt-4">
        {{ range $sortedCategoryData }}
          {{ $cat := .name }}
        <h2 class="{{ site.Data.theme.colors.headingText }} text-2xl font-bold mt-6 mb-2">{{ $cat }}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-2">
            {{ range where $.Pages "Params.category" $cat }}
                {{ if .Params.enable }}
                <div class="border rounded-lg shadow-lg overflow-hidden p-2 {{ .Site.Data.theme.colors.cardBG }} {{ .Site.Data.theme.colors.cardHoverBG }}">
                    {{ if .Params.image }}
                    <a href="{{ .Permalink }}" class="block">
                        <div class="inline-flex items-center justify-center w-auto overflow-hidden">
                            <img
                                src="{{ .Params.image }}"
                                alt="{{ .Title }}"
                                class="object-contain w-auto h-auto block m-0 p-2"
                            />
                        </div>
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</article>
{{ end }}
