{{ define "main" }}
<article class="mx-auto prose {{ .Site.Data.theme.colors.sitetext }}">
    <h1 class="{{ .Site.Data.theme.colors.headingText }} text-3xl font-bold text-center">{{ .Title }}</h1>
    <div class="not-prose w-full m-0 p-0">
        <img
            src="{{ .Params.image }}"
            alt="{{ .Title }}"
            class="mx-auto object-contain w-auto h-full"
        />
    </div>
    <ul class="text-center p-0 m-0">
        <li class="list-none p-0 m-0">
            Issued by: <strong>{{ .Params.issuer }}</strong>
        </li>
        <li class="list-none p-0 m-0">
            Issued on:
            <strong>{{ .Params.Date.Format "January 2, 2006" }}</strong>
        </li>
        <li class="list-none p-0 m-0">
            Trainer: <strong>{{ .Params.trainer }}</strong>
        </li>
    </ul>

    <div>{{ .Content }}</div>
</article>
{{ end }}
