{{ define "main" }}
<!-- Profile Image (visible only on smaller screens) -->
<div class="lg:hidden mb-6 flex justify-center">
    <img
        src="{{ with .Params.photo }}{{ . }}{{ else }}/images/me.jpg{{ end }}"
        alt="{{ .Title }}"
        class="w-38 h-38 rounded-full object-cover shadow-lg"
    />
</div>

<article class="mx-auto prose prose-lg prose-blue">
    <h1 class="{{ .Site.Data.theme.colors.headingText }} text-3xl font-bold mb-6 text-center">{{ .Params.Heading }}</h1>
    {{ .Content }}
</article>
{{ end }}
