<!-- Dropdown Menu -->
<div id="dropdownMenu" class="{{ .Site.Data.theme.colors.menuBG }} {{ .Site.Data.theme.colors.menuText }} absolute right-0 mt-6 p-2 w-48 rounded-lg shadow-xl hidden justify-center z-10">
  <ul class="mx-auto">
    <!-- Home link -->
    <li class="mb-2">
      <a
          href="{{ "/" | absURL }}"
          class="block p-2 rounded hover:rounded {{ .Site.Data.theme.colors.menuHoverText }}
          {{ if .IsHome }}{{ .Site.Data.theme.colors.menuActiveText }}{{ end }}"
      >
          About
      </a>
    </li>
    {{ $pages := slice }}
    {{ $pages = $pages | append (where .Site.RegularPages "Section" "" ) }}
    {{ $pages = $pages | append .Site.Sections.ByWeight }}
    {{ range sort $pages "Weight" }}
      {{ if .Params.enable }}
        <li class="mb-2">
          <a href="{{ .Permalink }}" class="block p-2 rounded hover:rounded {{ .Site.Data.theme.colors.menuHoverText }} {{ if eq .Permalink $.Permalink }}{{ .Site.Data.theme.colors.menuActiveText }}{{ end }}">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    {{ end }}
    <li>{{ partial "social-links.html" . }}</li>
  </ul>
</div>
